@model Disk
@{
    string title = ViewBag.Action + " Disk";
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="DiskName">Disk Name</label>
        <input asp-for="DiskName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input type="date" asp-for="ReleaseDate" class="form-control" />
    </div>

    <div>
        <label asp-for="DiskTypeId">Disk Type</label>
        <select asp-for="DiskTypeId" class="form-control">
            <option value="select a disk type">Select a disk type</option>
            @foreach (DiskType t in ViewBag.DiskTypes)
            {
                <option value="@t.DiskTypeId">@t.DiskDescription</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="GenreId">Genre</label>
        <select asp-for="GenreId" class="form-control">
            <option value="select a genre">Select a genre</option>
            @foreach (Genre g in ViewBag.Genres)
            {
                <option value="@g.GenreId">@g.GenreDescription</option>
            }
        </select>
    </div>
    <div>
        <label asp-for="StatusId">Status</label>
        <select asp-for="StatusId" class="form-control">
            <option value="select a status">Select a status</option>
            @foreach (Status s in ViewBag.Status)
            {
                <option value="@s.StatusId">@s.StatusDescription</option>
            }
        </select>
    </div>

    <input type="hidden" asp-for="DiskId" />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="Disk" asp-action="List" class="btn btn-primary">Cancel</a>
</form>