@model DiskHasBorrower
@{
    string title = ViewBag.Action + " Checkout";
    ViewBag.Title = title;
}
<h2>@ViewBag.Title</h2>
<form asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div>
        <label asp-for="DiskId">Artist Type</label>
        <select asp-for="DiskId" class="form-control">
            <option value="">select a disk</option>
            @foreach (Disk d in ViewBag.Disks)
            {
                <option value="@d.DiskId">@d.DiskName</option>
            }
        </select>
        <br />

        <select asp-for="BorrowerId" class="form-control">
            <option value="">select a borrower</option>
            @foreach (Borrower b in ViewBag.Borrowers)
            {
                <option value="@b.BorrowerId">@b.LastName, @b.FirstName</option>
            }
        </select>
        <br />

        <div class="form-group">
            <label asp-for="BorrowedDate">Borrowed Date</label>
            <input type="date" asp-for="BorrowedDate" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ReturnedDate">Returned Date</label>
            <input type="date" asp-for="ReturnedDate" class="form-control" />
        </div>
    </div>
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-controller="DiskHasBorrower" asp-action="List" class="btn btn-primary">Cancel</a>
</form>