@model List<DiskInventory.Models.Borrower>
@{
    ViewBag.Title = "Borrower Manager";
}
<h1>@ViewBag.Title</h1>
<h2>List of Borrowers</h2>
<a asp-controller="Borrower" asp-action="Add">Add New Borrower</a>
@if (Model.Count() > 0)
{
<table class="table table-bordered table_striped">    <!-- UI for Borrower Table -->
    <thead>
        <tr>
            <th>Borrower ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var borrower in Model)
        {
            <tr>
                <td>@borrower.BorrowerId</td>
                <td>@borrower.FirstName</td>
                <td>@borrower.LastName</td>
                <td>@borrower.PhoneNum</td>
                <td>
                    <a asp-controller="Borrower" asp-action="Edit" asp-route-id="@borrower.BorrowerId">Edit</a>
                    <a asp-controller="Borrower" asp-action="Delete" asp-route-id="@borrower.BorrowerId">Delete</a>
                </td>
            </tr>


        }
    </tbody>

</table>
}
else 
{
<div>No Data Found!</div>
}
